:root {
  --clr-primary-0:#151921;
  --clr-primary-1: #081d2f;
  --clr-primary-2: #0d2c47;
  --clr-primary-3: #113b5e;
  --clr-primary-4: #154a76;
  --clr-primary-5: #19588e;
  --clr-primary-6: #1d67a5;
  --clr-primary-7: #2276bd;
  --clr-primary-8: #2684d4;
  --clr-primary-9: #2a93ec;
  --clr-primary-10: #3f9eee;
  --clr-primary-11: #55a9f0;
  --clr-primary-12: #6ab3f2;
  --clr-primary-13: #7fbef4;
  --clr-primary-14: #95c9f6;
  --clr-primary-15: #aad4f7;
  --clr-primary-16: #bfdff9;
  --clr-primary-17: #d4e9fb;
  --clr-primary-18: #eaf4fd;
  --clr-slate-grey: #8892b0;
  --clr-dark-grey: #ccd6f6;
  --clr-white: #ffffff;
  --clr-black: #000000;
  --surface-color: #fff;

  --spacing-smaller: 5px;
  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 40px;
  --curve: 40;

  --font-calibre: Calibre, Inter, 'San Francisco', 'SF Pro Text', -apple-system,
    system-ui, sans-serif;
  --font-mono: 'Roboto Mono', monospace;
  --font-nunito: 'Nunito', sans-serif;
  --font-small: 14px;
  --font-medium: 16px;
  --font-large: 18px;
  --font-xx-large: 36px;
  --font-xxl-large: 72px;
  --transition: all 0.125s linear;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding: var(--spacing-medium);
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--clr-primary-1);
  color: var(--clr-slate-grey);
  font-family: var(--font-nunito);
}

/* GLOBAL CLASSES */
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pd-0 {
  padding: 0;
}
.pd-side-small {
  padding: 0 var(--spacing-small);
}
.pd-side-medium {
  padding: 0 var(--spacing-medium);
}
.pd-side-large {
  padding: 0 var(--spacing-large);
}
.mg-0 {
  margin: 0;
}
.tf-y-5 {
  transform: translateY(-5px);
}
.fancy-link {
  background-image: linear-gradient(
    var(--clr-primary-10),
    var(--clr-primary-10)
  );
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: var(--transition);
}
.fancy-link:hover {
  background-size: 100% 1px;
  color: var(--clr-primary-10);
}
.primary-btn {
  padding: var(--spacing-smaller) var(--spacing-medium);
  letter-spacing: 1px;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid var(--clr-primary-10);
  color: var(--clr-primary-10);
  transition: var(--transition);
}
.primary-btn:hover {
  transform: scale(1.1);
}
.btn-transparent {
  border: none;
  outline: none;
  background: transparent;
}

/***NAVBAR***/
.nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  letter-spacing: 2px;
  background-color: var(--clr-primary-1);
  transition: top 0.125s linear;
  margin-top: var(--spacing-medium);
  background: none;
}
.nav-high-brightness {
  box-shadow: 0 0 var(--spacing-large) var(--clr-primary-1);
}
.nav-links
.nav-logo {
  width: 40%;
  padding: var(--spacing-small) 0;
  background-color: var(--clr-primary-1);
  text-decoration: none;
}
.nav-logo-img {
  width: 100%;
  mix-blend-mode: luminosity;
}
.nav-toggle-btn {
  display: none;
}
.nav-links-container {
  text-transform: capitalize;
  color: var(--clr-dark-grey);
}
.links-list-item {
  transition: var(--transition);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: var(--spacing-large);
}
.fancy-link{
  text-decoration: none;
  color:var(--surface-color);
}
.links-list-item:hover {
  color: var(--clr-primary-10);
}

@media only screen and (min-width: 770px) {
  .nav-links-container {
    height: auto !important;
  }
}
@media only screen and (max-width: 770px) {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 0;
    flex-direction: column;
    letter-spacing: 1px;
  }
  .nav-toggle-btn {
    display: block;
  }
  .nav-toggle-btn svg {
    color: var(--clr-primary-17);
    transform: scale(1.75);
  }
  .nav-header {
    width: 90%;
  }
  .nav-links-container {
    width: 100%;
    height: 0;
    background-color: var(--clr-primary-2);
    overflow: hidden;
    transition: var(--transition);
  }
  .nav-links {
    margin: 0;
    padding: 0;
    flex-direction: column;
    border-bottom: 1px solid var(-clr);
  }
  .links-list-item {
    padding: var(--spacing-small);
    border-top: 1px solid var(--clr-primary-3);
    transition: var(--transition);
  }
  .links-list-item:hover {
    background-color: var(--clr-primary-3);
  }
}

/* SOCIAL STYLING */
.social {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 calc(1.25 * var(--spacing-large));
}
.social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.social-icon {
  margin: var(--spacing-small) 0;
  transition: var(--transition);
}
.social-icon svg {
  transform: scale(1.5);
  transition: var(--transition);
}
.social-icon svg:hover {
  color: var(--clr-primary-10);
  transform: scale(2);
}

@media only screen and (max-width: 770px) {
  .social {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    flex-direction: row;
  }
  .social-container {
    flex-direction: row;
    margin-top: var(--spacing-large);
  }
  .social-icon {
    margin: 0 var(--spacing-small);
  }
  .verticle-line {
    display: none;
  }
}

/* THEME STYLING */
.theme {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 var(--spacing-large);
}
.theme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.theme-circle {
  width: 40px;
  height: 40px;
  margin: var(--spacing-smaller) 0;
  border: 2px solid var(--clr-white);
  border-radius: 50%;
  transition: var(--transition);
}
.theme-circle:hover {
  transform: scale(1.1);
}
.verticle-line {
  width: 2px;
  height: 30vh;
  margin-top: var(--spacing-medium);
  background-color: var(--clr-primary-5);
}

@media only screen and (max-width: 770px) {
  .theme {
    position: relative;
    margin: 0;
    flex-direction: row;
  }
  .theme-container {
    flex-direction: row;
  }
  .theme-circle {
    width: 20px;
    height: 20px;
    margin: 0 2px;
  }
  .verticle-line {
    display: none;
  }
}

/* HERO STYLING */
.hero {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-left: var(--spacing-large); */
  margin-left: 150px;
}
.hero-big-heading>p{
  width:30vw;
}
.me-img{
  animation:scaleup 0.8s;
}
@keyframes scaleup {
  0%{
    transform: scale(0.3);
    overflow-x: hidden;
  }
  80%{
    transform: scale(1.2);
  
  }
  100%{
    transform: scale(1);
  }
}
.me-img-div{
  width:40rem;
  height:40rem;
  filter: drop-shadow(10px 10px 5.75rem rgb(255, 255, 255));
  position: absolute;
  display: flex;
  justify-content: flex-start;
  transform: translateX(-5rem);
  max-height: auto;
}
.hero-big-heading{
  font-family: 'IBM Plex Sans', sans-serif;
  /* font-size: clamp(55px, 8vw, 80px); */
  font-size: 5rem;
  width:80vw;
  color: var(--clr-primary-17);
  position:relative;
  animation:animateleft 0.8s
}
@keyframes animateleft{
  0%{left:-300px
    ;opacity:0} 
  80%{
    left:30px;
    opacity:0.8;
  }
  100%{
    left:0;
    opacity:1}
}
.me-desc{
  width:30vw;
  text-align:end;
  font-size: clamp(10px, 4vw, 15px);
}
.hero-header{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  width:80vw;
  margin-top: 0px;
}
.hero-big-heading::after{
  content: "";
  height:30px;
  width:100px;
  /* background-color: black; */
}
.secondry-big-heading {
  /* display: flex;
  width:100%;
  flex-direction: row;
  justify-content: flex-end; */
  text-align: end;
  /* position: absolute; */

  font-size: clamp(10px, 4vw, 30px);
  color: var(--clr-primary-15);
}
.secondry-big-heading::after {
  content: 'MERN stack web developer';
  transition: var(--transition);
  animation: wordChange 4s linear infinite alternate;
}
.me-resume{
  display: flex;
  flex-direction: column;
  width: 80vw;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: start;
  position:relative;
  animation:animateright 0.8s
}
@keyframes animateright{
  0%{right:-300px
    ;opacity:0} 
  80%{
    right:50px;
    opacity:0.8;
  }
  100%{
    right:0;
    opacity:1}
  }
@keyframes wordChange {
  0% {
    content: 'I love making websites </>';
  }
  50% {
    color: var(--clr-primary-1);
  }
  100% {
    content: 'I like UI/UX designing <[:{)';
  }
}
.hero-desc {
  width: clamp(414px, 540px, 600px);
  margin-top: var(--spacing-medium);
  line-height: 1.5rem;
  font-size: var(--font-large);
}
.hero-btn {
  width: fit-content;
  display: flex;
  margin-top: var(--spacing-large);
}
.hero-btn a {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 1143px){
  body{
    overflow-x: hidden;
  }
  .hero-big-heading{
    margin-left: 20vw;;
  }
  .me-resume{
    /* position: absolute; */
    transform: translate(-13vw,25vw);
    display: block;
    width: 50vw;
    margin-left: 30vw;
  }
  .me-desc{
    width:80vw;
    text-align: center;
  }
  .me-img-div{
    width:35rem;
  height:35rem;
    margin-top: 1000px;
    text-align: center;
  }
  .me-img{
    transform: translateX(50px);
  }
  .me-resume{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .secondry-big-heading{
    transform: translateX(-70px);
    text-align: center;
    width: 80vw;
  }
}
@media only screen and (max-width: 900px){
  .hero-big-heading{
    transform: translateX(-80px);
  }
  .me-desc , .hero-btn{
    transform: translateY(100px);
  }
  .hero-btn:hover{
    cursor: pointer;
    transform: translateY(100px);

  }
  .secondry-big-heading{
    transform: translate(-70px,100px);
  }
}
@media only screen and (max-width: 770px) {
  .hero-desc {
    width: auto;
  }
  .hero{
    margin-top: -100px;
  }
}
@media only screen and (max-width: 325px) {
  .hero {
    min-height: 100vh;
  }
}
@media only screen and (max-width:674px) and (min-width:640px){
  .me-resume{
    transform: translate(-25vw,20vh);
  }
  .secondry-big-heading{
    transform: translateX(-2px,20vh);
  }
  .me-img{
    transform: translate(-10vw,-5vh);
  }
  .hero{
    margin-top: 20px;
    transform: translateX(8vw);  
  }
  .me-desc , .hero-btn{
    transform: translate(-5vw,20vh);
  }
}
@media only screen and (max-width:640px) and (min-width:500px){
  .me-resume{
    transform: translate(-23vw,20vh);
  }
  .secondry-big-heading{
    transform: translateX(10px,20vh);
  }
  .me-img{
    transform: translate(-4vw,-5vh);
  }
  .hero{
    margin-top: 20px;
    /* transform: translateX(6vw);   */
  }
  .me-desc , .hero-btn{
    transform: translate(-2vw,20vh);
  }
}
@media only screen and (max-width:500px) and (min-width:430px){
  .me-resume{
    transform: translate(-28vw,20vh);
  }
  .secondry-big-heading{
    /* position: absolute; */
    transform: translate(20px,10vh);
  }
  .hero-big-heading{
    transform: translateX(-100px);
  }
  .me-img{
    transform: translate(-4vw,-5vh);
  }
  .hero{
    margin-top: -40px;
    /* transform: translateX(6vw);   */
  }
  .me-desc , .hero-btn{
    transform: translate(-2vw,20vh);
  }
}


/* TECH STACK STYLING */
.techstack {
  margin-top: 10vh;
}
.techstack-header {
  margin-right: var(--spacing-small);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--font-calibre);
  font-weight: 600;
  font-size: clamp(26px, 5vw, var(--font-xx-large));
  color: var(--clr-primary-17);
}
.techstack-header svg {
  color: var(--clr-primary-10);
}
.horizontal-line {
  width: 15rem;
  height: 1px;
  margin: calc(1.5 * var(--spacing-smaller));
  background-color: var(--clr-primary-2);
  transform: translateY(5px);
}
@media only screen and (max-width: 420px) {
  .horizontal-line {
    width: 10rem;
  }
}
@media only screen and (max-width: 380px) {
  .horizontal-line {
    width: 8rem;
  }
}
@media only screen and (max-width: 320px) {
  .horizontal-line {
    width: 5rem;
  }
}

.techstack-languages {
  margin-top: var(--spacing-medium);
  display: flex;
  flex-wrap: wrap;
}
.techstack-language-icon {
  width: 36px;
  height: 36px;
  margin: calc(1.25 * var(--spacing-small));
  padding: 0;
  display: inline-block;
  color: var(--clr-primary-10);
  font-size: var(--font-xx-large);
  transition: var(--transition);
}
.techstack-language-icon svg {
  position: relative;
  z-index: -1;
}

@media only screen and (max-width: 420px) {
  .techstack-language-icon {
    margin-left: calc(1.5 * var(--spacing-small));
    margin-right: calc(1.5 * var(--spacing-small));
  }
}
@media only screen and (max-width: 380px) {
  .techstack-language-icon {
    margin-left: calc(1.125 * var(--spacing-small));
    margin-right: calc(1.125 * var(--spacing-small));
  }
}
@media only screen and (max-width: 320px) {
  .techstack-language-icon {
    margin-left: calc(1.5 * var(--spacing-small));
    margin-right: calc(1.5 * var(--spacing-small));
  }
}

.techstack-language-icon:hover {
  transform: scale(1.15);
}